.homepage{
    font-size: 20px;
    font-weight: 600;
    -webkit-background-clip: text;
}

.search{
    font-size: 20px;
    font-weight: 600;
    color: orange;
    -webkit-background-clip: text;
}

.enterBtn{
    font-size: 20px;
    font-weight: 600;
    color: green;
    -webkit-background-clip: text;
}
